@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.drum h1{
    font-size: 5rem;
    color: #DBEDF3;
    font-family: 'Fjalla One', sans-serif;
    text-decoration:underline;
    text-decoration-color:crimson;
}
body{
    text-align: center;
    background-image: url("pic.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}   

.drum .icons{
    margin: 10% auto;
}

.drum .icons button{
    outline: none;
    display: inline-block;
    height: 75px;
    width: 75px;
    text-align: center;
    border: 5px solid #404B69;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
    border-radius: 20px;
    font-size: larger;
}
.animation {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
  