@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    /* background-color:rgba(0,0,0,0.7); */
    align-items: center;
    padding: 14px 16px;
    font-size: 17px; 
}
div a{
    display: flex;
    flex-direction: rows;
    justify-content: center;
}

.navbar p{
    
    color: black;
    /* background-color: #04AA6D; */
}
p{
    margin-left: 20px;
    margin-right: 27%;
}

a{
    margin-left: 20px;
    text-decoration: underline ;
    text-decoration-color: #fd3f81;
    color: black;
}

a:hover{
    cursor: pointer;
    color: #fd3f81;
    transition: 0.3s;
    transform: scale(1) translateY(-3px);
    letter-spacing: 2px;
}

.logout{
    margin-left: 400px;
}

.details{
    display: grid;
    grid-template-columns: 89px auto;
    padding-top: 50px;
    margin-left: 35px;
}

.details input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.details button{
    margin-top: 65px;
    margin-left: 610px;
}